* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f1724;
  color: #fff;
  margin: 0;
}


section {
  width: 100%;
  height: 100vh;
  max-width: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}


h1 {
  font-size: 42px;
  margin-bottom: 5px;
}

h1 span {
  color: #4ade80;
}

h2 {
  margin-bottom: 5px;
  opacity: .9;
}


ul {
  list-style: disc;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}

#box {
  width: min(650px, 90%);
  height: 320px;
  border-radius: 25px;
  background: #d32f2f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  cursor: pointer;
  user-select: none;
  transition: background .2s, transform .1s;
}

#box:active {
  transform: scale(.98);
}


button {
  margin-top: 5px;
  padding: 12px 36px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: #000;
  transition: .2s;
}

button:hover {
  transform: scale(1.05);
}

.back {
  background: #e5e7eb;
}

#time-display {
  padding: 12px 40px;
  background: #fff;
  color: #000;
  border-radius: 12px;
  font-size: 40px;
  display: inline-block;
}

#menu-screen h1 {
color: #D4A537
}
